<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pancake Sorting Game</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="pancakes">
        <div class="pancake" onclick="flipPancake(this)"></div>
        <div class="pancake" onclick="flipPancake(this)"></div>
    </div>

    <audio id="background-audio" autoplay loop>
        <source src='/static/music.mp3' type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script>
        // JavaScript function to handle pancake flipping
        function flipPancake(pancake) {
            pancake.classList.add('flip');
            setTimeout(() => {
                pancake.classList.remove('flip');
            }, 500);
        }
    </script>
</body>
</html>
