/* Styles for centering content */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move content to the bottom */
    align-items: center;
    margin: 0;
    position: relative;
}

/* Background image styles */
body {
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Pancake container styles */
.pancakes {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; /* Ensure pancakes appear above the background */
    margin-bottom: 20px; /* Margin for bottom space */
}

/* Pancake styles */
.pancake {
    width: 200px;
    height: 30px; /* Pancake height */
    background: linear-gradient(#e1a155, #e1a155, #f9d97a, #e1a155, #e1a155); /* Light brown with cream strip */
    border: 2px solid #c76b22; /* Rough boundary */
    border-radius: 15px; /* Pancake shape */
    cursor: pointer;
    margin-bottom: 0; /* Remove the vertical space between pancakes */
    transition: transform 0.3s ease; /* Animation for flipping */
}

.pancake:first-child {
    /* width: 220px; Larger pancake */
    height: 35px; /* Larger pancake height */
    z-index: 2; /* Ensure the larger pancake is above */
}

.pancake:last-child {
    /* width: 200px; Smaller pancake */
    height: 30px; /* Smaller pancake height */
    margin-bottom: 5px; /* Adjust bottom margin for smaller pancake */
}

.flip {
    transform: rotateX(180deg); /* Flip the pancake */
    transition: transform 0.5s ease; /* Add transition for smoother animation */
}

.level-complete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.game-complete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

h1{
    font-family: 'Roboto', sans-serif;
}

button{
    border: 5px solid violet;
    background-color: white;
    color: violet;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-left: 135px;
}

#b1{
    margin-left: 30px;
}

#b2{
    margin-left: 30px;
}

/* Existing styles */

/* Existing styles */

.container {
    display: flex;
    gap: 100px; /* Spacing between the sidebar and game */
}

.sidebar {
    width: 200px; /* Adjust width as needed */
    background-color: rgba(206, 169, 118, 0.7);
    padding: 20px;
    /* Other sidebar styles */
    margin-right: 20px; /* Add spacing between sidebar and game */
}

.game {
    flex: 1;
    /* Your existing game styles */
}




